.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  border: 1px solid #cccccc;
}

.imageArea {
  height: 100%;
  width: 100%;
  grid-area: 1 / 4 / 5 / 6;
}

.infoArea {
  grid-area: 1 / 1 / 5 / 4;
  background: white;
}

.itemName {
  grid-area: 1 / 1 / 2 / 4;
  position: absolute;
  left: 10%;
  top: 30%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: black;
}

.itemDescription {
  grid-area: 2 / 1 / 3 / 4;
  position: absolute;
  left: 10%;
  right: 15%;
  top: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: left;

  color: grey;
}

.itemPrice {
  grid-area: 3 / 1 / 4 / 4;
  position: absolute;
  left: 10%;
  top: 20%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.itemNum {
  grid-area: 4 / 1 / 5 / 4;
  position: absolute;
  left: 30%;
  top: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.minusBack {
  grid-area: 4 / 1 / 5 / 4;
  position: absolute;
  left: 10%;
  top: 0;
}

.plusBack {
  grid-area: 4 / 1 / 5 / 4;
  position: absolute;
  left: 45%;
  top: 0;
}
