.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.carouselContainer {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #122329;
  height: 30vh;
  min-height: 20vh;
}

.carousel {
  height: 20vh;
  width: 40%;
  margin-left: 20%;
  margin-bottom: 7%;
}

.textOfCarousel {
  margin-left: 10vw;
  text-align: left;
  color: white;
  font-size: xx-large;
}

.subtextOfCarousel {
  margin-left: 10vw;
  text-align: left;
  color: white;
  font-size: 20px;
}

.categoryBar {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 4vh;
}

.divider {
  margin-left: 2vw;
  margin-bottom: 3vh;
  margin-right: 2vw;
  border: 1px solid #adadad;
}

.textDivider {
  text-align: left;
  font-size: xx-large;
  font-weight: bold;
  position: relative;
  left: 2vw;
  margin-bottom: 3vh;
}

.popular {
}

.popularContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
