.container {
  display: grid;
  min-height: calc(100vh - 100px);
}

.carouselContainer {
  background-color: #122329;
  height: 35vh;
  min-height: 30vh;
}

.carousel {
  position: relative;
  top: -19vh;
  height: 15vh;
  width: 40%;
  left: 55%;
}

.textOfCarousel {
  margin-top: 9vh;
  margin-left: 10vw;
  text-align: left;
  width: 50%;
  color: white;
  font-size: xx-large;
}

.subtextOfCarousel {
  width: 50%;
  margin-left: 10vw;
  text-align: left;
  color: white;
  font-size: 20px;
}

.categoryBar {
  display: flex;
  justify-content: space-around;
}

.textDivider {
  text-align: left;
  font-size: xx-large;
  font-weight: bold;
  position: relative;
  left: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.popular {
}

.popularContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.divider {
  margin-left: 2vw;
  margin-bottom: 3vh;
  margin-right: 4vw;
  border: 1px solid #adadad;
}
